[submodule "sources/langchain"]
	path = sources/langchain
	url = https://github.com/langchain-ai/langchain.git
[submodule "sources/langgraph"]
	path = sources/langgraph
	url = https://github.com/langchain-ai/langgraph.git
[submodule "sources/crewai"]
	path = sources/crewai
	url = https://github.com/crewAIInc/crewAI.git
